# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*/.vscode
# dependencies
**/node_modules
**/.pnp
.pnp.js

# testing
**/coverage
# production
**/build
**/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*




# success@razorpay
# "rzp_test_nmBMFvlwlFLjLG"

# card number  : 5104 0600 0000 0008
# 4111 1111 1111 1111
# cvv : any random three digit
# Expiry date : any random future date